version: 1.0.3
description: UPF initial local configuration

# The listen IP and nodeID of the N4 interface on this UPF (Can't set to 0.0.0.0)
pfcp:
  addr: {{ n4_ip_address }}   # IP addr for listening
  nodeID: {{ n4_ip_address }} # External IP or FQDN can be reached
  retransTimeout: 1s # retransmission timeout
  maxRetrans: 3 # the max number of retransmission

gtpu:
  forwarder: gtp5g
  # The IP list of the N3/N9 interfaces on this UPF
  # If there are multiple connection, set addr to 0.0.0.0 or list all the addresses
  ifList:
    - addr: {{ n3_ip_address }}
      type: N3
      # name: upf.5gc.nctu.me
      # ifname: gtpif
dnnList:
- cidr: 10.1.0.0/17
  dnn: internet
  natifname: n6
logger:
  enable: true
  level: info
  reportCaller: false
